# Introduction: Automated Feature Engineering

In this notebook, we will look at an exciting development in data science: automated feature engineering. A machine learning model can only learn from the data we give it, and making sure that data is relevant to the task is one of the most crucial steps in the machine learning pipeline (this is made clear in the excellent paper ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)). 

However, manual feature engineering is a tedious task and is limited by both human imagination - there are only so many features we can think to create - and by time - creating new features is time-intensive. Ideally, there would be an objective method to create an array of diverse new candidate features that we can then use for a machine learning task. This process is meant to not replace the data scientist, but to make her job easier and allowing her to supplement domain knowledge with an automated workflow.

In this notebook, we will walk through an implementation of using [Feature Tools](https://www.featuretools.com/), an open-source Python library for automatically creating features with relational data (where the data is in structured tables). Although there are now many efforts working to enable automated model selection and hyperparameter tuning, there has been a lack of automating work on the feature engineering aspect of the pipeline. This library seeks to close that gap and the general methodology has been proven effective in both [machine learning competitions with the data science machine](https://github.com/HDI-Project/Data-Science-Machine) and [business use cases](https://www.featurelabs.com/blog/predicting-credit-card-fraud/). 


## Dataset

To show the basic idea of feature tools we will use an example dataset consisting of three tables:

* `clients`: information about clients at a credit union
* `loans`: previous loans taken out by the clients
* `payments`: payments made/missed on the previous loans

The general problem of feature engineering is taking disparate data, often distributed across multiple tables, and combining it into a single table that can be used for training a machine learning model. Feature tools has the ability to do this for us, creating many new candidate features with minimal effort. These features are combined into a single table that can then be passed on to our model. 

First, let's load in the data and look at the problem we are working with.

In [1]:
# Run this if feature tools is not already installed
# !pip install -U featuretools

In [2]:
# pandas and numpy for data manipulation
import pandas as pd
import numpy as np

# featuretools for automated feature engineering
import featuretools as ft

# ignore warnings from pandas
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Read in the data
clients = pd.read_csv('../input/clients.csv', parse_dates = ['joined'])
loans = pd.read_csv('../input/loans.csv', parse_dates = ['loan_start', 'loan_end'])
payments = pd.read_csv('../input/payments.csv', parse_dates = ['payment_date'])

In [4]:
clients.head()

   client_id     joined  income  credit_score
0      46109 2002-04-16  172677           527
1      49545 2007-11-14  104564           770
2      41480 2013-03-11  122607           585
3      46180 2001-11-06   43851           562
4      25707 2006-10-06  211422           621

In [5]:
loans.sample(10)

     client_id loan_type  loan_amount  ...   loan_start   loan_end  rate
153      35089     other        12888  ...   2006-10-06 2008-08-29  1.16
438      26945     other        12963  ...   2001-11-26 2004-06-11  2.46
352      26695      cash         9606  ...   2003-11-04 2005-04-29  1.86
339      39384      cash         8646  ...   2014-03-10 2016-11-27  1.84
1        46109    credit         9794  ...   2003-10-21 2005-07-17  1.25
279      44601      home        11175  ...   2010-07-14 2012-11-06  7.14
199      26326      cash         8794  ...   2003-04-25 2005-07-20  1.63
205      26326      home        12760  ...   2003-12-11 2006-04-13  5.43
401      41472      cash        12571  ...   2004-09-20 2006-09-20  0.92
300      49068    credit        12085  ...   2012-03-11 2014-10-17  5.78

[10 rows x 8 columns]

In [6]:
payments.sample(10)

      loan_id  payment_amount payment_date  missed
3211    11132            1998   2014-02-13       0
892     11520            1511   2002-12-19       0
1547    10599            2735   2005-06-04       1
286     10302             571   2006-07-28       1
3446    10333             644   2004-06-07       1
416     10416            2233   2004-03-15       1
3135    11148             704   2003-11-20       0
2728    10341             517   2012-06-23       0
563     10363             368   2014-08-21       0
2900    10688            2016   2014-04-08       0

### Manual Feature Engineering Examples

Let's show a few examples of features we might make by hand. We will keep this relatively simple to avoid doing too much work! First we will focus on a single dataframe before combining them together. In the `clients` dataframe, we can take the month of the `joined` column and the natural log of the `income` column. Later, we see these are known in feature tools as transformation feature primitives because they act on column in a single table.

In [7]:
# Create a month column
clients['join_month'] = clients['joined'].dt.month

# Create a log of income column
clients['log_income'] = np.log(clients['income'])

clients.head()

   client_id     joined     ...      join_month  log_income
0      46109 2002-04-16     ...               4   12.059178
1      49545 2007-11-14     ...              11   11.557555
2      41480 2013-03-11     ...               3   11.716739
3      46180 2001-11-06     ...              11   10.688553
4      25707 2006-10-06     ...              10   12.261611

[5 rows x 6 columns]

To incorporate information about the other tables, we use the `df.groupby` method, followed by a suitable aggregation function, followed by `df.merge`.  For example, let's calculate the average, minimum, and maximum amount of previous loans for each client. In the terms of feature tools, this would be considered an aggregation feature primitive because we using multiple tables in a one-to-many relationship to calculate aggregation figures (don't worry, this will be explained shortly!).

In [8]:
# Groupby client id and calculate mean, max, min previous loan size
stats = loans.groupby('client_id')['loan_amount'].agg(['mean', 'max', 'min'])
stats.columns = ['mean_loan_amount', 'max_loan_amount', 'min_loan_amount']
stats.head()

           mean_loan_amount  max_loan_amount  min_loan_amount
client_id
25707           7963.950000            13913             1212
26326           7270.062500            13464             1164
26695           7824.722222            14865             2389
26945           7125.933333            14593              653
29841           9813.000000            14837             2778

In [9]:
# Merge with the clients dataframe
clients.merge(stats, left_on = 'client_id', right_index=True, how = 'left').head(10)

   client_id     joined       ...         max_loan_amount  min_loan_amount
0      46109 2002-04-16       ...                   14049              559
1      49545 2007-11-14       ...                   14971             3851
2      41480 2013-03-11       ...                   14399              811
3      46180 2001-11-06       ...                   14081             1607
4      25707 2006-10-06       ...                   13913             1212
5      39505 2011-10-14       ...                   14575              904
6      32726 2006-05-01       ...                   14802              851
7      35089 2010-03-01       ...                   13194              773
8      35214 2003-08-08       ...                   14767              667
9      48177 2008-06-09       ...                   14740              659

[10 rows x 9 columns]

We could go further and include information about `payments` in the `clients` dataframe. To do so, we would have to group `payments` by the `loan_id`, merge it with the `loans`, group the resulting dataframe by the `client_id`, and then merge it into the `clients` dataframe. This would allow us to include information about previous payments for each client. 

Clearly, this process of manual feature engineering can grow quite tedious with many columns and multiple tables and I certainly don't want to have to do this process by hand! Luckily, feature tools can automatically perform this entire process and will create more features than we would have ever thought of. Although I love `pandas`, there is only so much manual data manipulation I'm willing to stand!

# Feature Tools

Now that we know what we are trying to avoid (tedious manual feature engineering), let's figure out how to automate this process. Feature tools operates on an idea known as [Deep Feature Synthesis](https://docs.featuretools.com/api_reference.html#deep-feature-synthesis). You can read the [original paper here](http://www.jmaxkanter.com/static/papers/DSAA_DSM_2015.pdf), and although it's quite readable, it's not necessary to understand the details to do automated feature engineering. The concept of Deep Feature Synthesis is to use basic building blocks known as feature primitives (like the transformations and aggregations done above) that can be stacked on top of each other to form new features. The depth of a "deep feature" is equal to the number of stacked primitives. 

I threw out some terms there, but don't worry because we'll cover them as we go. Feature Tools builds on simple ideas to create a powerful method, and we will build up our understanding in much the same way. 

The first part of Feature Tools to understand [is an `entity`](https://docs.featuretools.com/loading_data/using_entitysets.html#adding-entities). This is simply a table, or in `pandas`, a `DataFrame`. We corral multiple entities into a [single object called an `EntitySet`](https://docs.featuretools.com/loading_data/using_entitysets.html). This is just a large data structure composed of many individual entities and the relationships between them.  

## EntitySet

Creating a new `EntitySet` is pretty simple:

In [10]:
es = ft.EntitySet(id = 'clients')

## Entities 

An entity is simply a table, which is represented in Pandas as a `dataframe`. Each entity must have a uniquely identifying column, known as an index. For the clients dataframe, this is the `client_id` because each id only appears once in the `clients` data. In the `loans` dataframe, `client_id` is not an index because each id might appear more than once. The index for this dataframe is instead `loan_id`. 

When we create an `entity` in feature tools, we have to identify which column of the dataframe is the index. If the data does not have a unique index we can tell feature tools to make an index for the entity by passing in `make_index = True` and specifying a name for the index. If the data also has a uniquely identifying time index, we can pass that in as the `time_index` parameter. 

Feature tools will automatically infer the variable types (numeric, categorical, datetime) of the columns in our data, but we can also pass in specific datatypes to override this behavior. As an example, even though the `repaid` column in the `loans` dataframe is represented as an integer, we can tell feature tools that this is a categorical feature since it can only take on two discrete values. This is done using an integer with the variables as keys and the feature types as values.

In the code below we create the three entities and add them to the `EntitySet`.  The syntax is relatively straightforward with a few notes: for the `payments` dataframe we need to make an index, for the `loans` dataframe, we specify that `repaid` is a categorical variable, and for the `payments` dataframe, we specify that `missed` is a categorical feature.

In [11]:
# Create an entity from the client dataframe
# This dataframe already has an index and a time index
es = es.entity_from_dataframe(entity_id = 'clients', dataframe = clients, 
                              index = 'client_id', time_index = 'joined')

In [12]:
# Create an entity from the loans dataframe
# This dataframe already has an index and a time index
es = es.entity_from_dataframe(entity_id = 'loans', dataframe = loans, 
                              variable_types = {'repaid': ft.variable_types.Categorical},
                              index = 'loan_id', 
                              time_index = 'loan_start')

In [13]:
# Create an entity from the payments dataframe
# This does not yet have a unique index
es = es.entity_from_dataframe(entity_id = 'payments', 
                              dataframe = payments,
                              variable_types = {'missed': ft.variable_types.Categorical},
                              make_index = True,
                              index = 'payment_id',
                              time_index = 'payment_date')

In [14]:
es

Entityset: clients
  Entities:
    clients [Rows: 25, Columns: 6]
    loans [Rows: 443, Columns: 8]
    payments [Rows: 3456, Columns: 5]
  Relationships:
    No relationships

All three entities have been successfully added to the `EntitySet`. We can access any of the entities using Python dictionary syntax.

In [15]:
es['loans']

Entity: loans
  Variables:
    client_id (dtype: numeric)
    loan_type (dtype: categorical)
    loan_amount (dtype: numeric)
    loan_start (dtype: datetime_time_index)
    loan_end (dtype: datetime)
    rate (dtype: numeric)
    repaid (dtype: categorical)
    loan_id (dtype: index)
  Shape:
    (Rows: 443, Columns: 8)

Feature tools correctly inferred each of the datatypes when we made this entity. We can also see that we overrode the type for the `repaid` feature, changing if from numeric to categorical.

In [16]:
es['payments']

Entity: payments
  Variables:
    loan_id (dtype: numeric)
    payment_amount (dtype: numeric)
    payment_date (dtype: datetime_time_index)
    missed (dtype: categorical)
    payment_id (dtype: index)
  Shape:
    (Rows: 3456, Columns: 5)

## Relationships

After defining the entities (tables) in an `EntitySet`, we now need to tell feature tools [how they are related with a relationship](https://docs.featuretools.com/loading_data/using_entitysets.html#adding-a-relationship). The most intuitive way to think of relationships is with the parent to child analogy: a parent-to-child relationship is one-to-many because for each parent, there can be multiple children. The `client` dataframe is therefore the parent of the `loans` dataframe because while there is only one row for each client in the `client` dataframe, each client may have several previous loans covering multiple rows in the `loans` dataframe. Likewise, the `loans` dataframe is the parent of the `payments` dataframe because each loan will have multiple payments. 

These relationships are what allow us to group together datapoints using aggregation primitives and then create new features. As an example, we can group all of the previous loans associated with one client and find the average loan amount. We will discuss the features themselves more in a little bit, but for now let's define the relationships. 

To define relationships, we need to specify the parent variable and the child variable. This is the variable that links two entities together. In our example, the `client` and `loans` dataframes are linked together by the `client_id` column. Again, this is a parent to child relationship because for each `client_id` in the parent `client` dataframe, there may be multiple entries of the same `client_id` in the child `loans` dataframe. 

We codify relationships in the language of feature tools by specifying the parent variable and then the child variable. After creating a relationship, we add it to the `EntitySet`.

In [17]:
# Relationship between clients and previous loans
r_client_previous = ft.Relationship(es['clients']['client_id'],
                                    es['loans']['client_id'])

# Add the relationship to the entity set
es = es.add_relationship(r_client_previous)

The relationship has now been stored in the entity set. The second relationship is between the `loans` and `payments`. These two entities are related by the `loan_id` variable.

In [18]:
# Relationship between previous loans and previous payments
r_payments = ft.Relationship(es['loans']['loan_id'],
                                      es['payments']['loan_id'])

# Add the relationship to the entity set
es = es.add_relationship(r_payments)

es

Entityset: clients
  Entities:
    clients [Rows: 25, Columns: 6]
    loans [Rows: 443, Columns: 8]
    payments [Rows: 3456, Columns: 5]
  Relationships:
    loans.client_id -> clients.client_id
    payments.loan_id -> loans.loan_id

We now have our entities in an entityset along with the relationships between them. We can now start to making new features from all of the tables using stacks of feature primitives to form deep features. First, let's cover feature primitives.


## Feature Primitives

A [feature primitive](https://docs.featuretools.com/automated_feature_engineering/primitives.html) a at a very high-level is an operation applied to data to create a feature. These represent very simple calculations that can be stacked on top of each other to create complex features. Feature primitives fall into two categories:

* __Aggregation__: function that groups together child datapoints for each parent and then calculates a statistic such as mean, min, max, or standard deviation. An example is calculating the maximum loan amount for each client. An aggregation works across multiple tables using relationships between tables.
* __Transformation__: an operation applied to one or more columns in a single table. An example would be extracting the day from dates, or finding the difference between two columns in one table.

Let's take a look at feature primitives in feature tools. We can view the list of primitives:

In [19]:
primitives = ft.list_primitives()
pd.options.display.max_colwidth = 100
primitives[primitives['type'] == 'aggregation'].head(10)

         name         type                                                              description
0  num_unique  aggregation                      Returns the number of unique categorical variables.
1        last  aggregation                                                  Returns the last value.
2         max  aggregation                   Finds the maximum non-null value of a numeric feature.
3         std  aggregation  Finds the standard deviation of a numeric feature ignoring null values.
4         min  aggregation                   Finds the minimum non-null value of a numeric feature.
5        skew  aggregation                                     Computes the skewness of a data set.
6         sum  aggregation           Counts the number of elements of a numeric or boolean feature.
7        mode  aggregation                  Finds the most common element in a categorical feature.
8       trend  aggregation           Calculates the slope of the linear trend of variable overtime.
9      median  aggregation          Finds the median value of any feature with well-ordered values.

In [20]:
primitives[primitives['type'] == 'transform'].head(10)

          name       type                                                                                       description
19        hour  transform                                                       Transform a Datetime feature into the hour.
20  time_since  transform                                                            Calculates time since the cutoff time.
21     cum_max  transform   Calculates the max of previous values of an instance for each value in a time-dependent entity.
22    latitude  transform                                                Returns the first value of the tuple base feature.
23         day  transform                                                        Transform a Datetime feature into the day.
24  characters  transform                                                          Return the characters in a given string.
25    cum_mean  transform  Calculates the mean of previous values of an instance for each value in a time-dependent entity.
26         not  transform                                    For each value of the base feature, negates the boolean value.
27     weekend  transform                                           Transform Datetime feature into the boolean of Weekend.
28          or  transform                                         For two boolean values, determine if one value is 'True'.

If feature tools does not have enough primitives for us, we can [also make our own.](https://docs.featuretools.com/automated_feature_engineering/primitives.html#defining-custom-primitives) 

To get an idea of what a feature primitive actually does, let's try out a few on our data. Using primitives is surprisingly easy using the `ft.dfs` function (which stands for deep feature synthesis). In this function, we specify the entityset to use; the `target_entity`, which is the dataframe we want to make the features for (where the features end up); the `agg_primitives` which are the aggregation feature primitives; and the `trans_primitives` which are the transformation primitives to apply. 

In the following example, we are using the `EntitySet` we already created, the target entity is the `clients` dataframe because we want to make new features about each client, and then we specify a few aggregation and transformation primitives.

In [21]:
# Create new features using specified primitives
features, feature_names = ft.dfs(entityset = es, target_entity = 'clients', 
                                 agg_primitives = ['mean', 'max', 'percent_true', 'last'],
                                 trans_primitives = ['years', 'month', 'divide'])

In [22]:
pd.DataFrame(features['MONTH(joined)'].head())

           MONTH(joined)
client_id
25707                 10
26326                  5
26695                  8
26945                 11
29841                  8

In [23]:
pd.DataFrame(features['MEAN(payments.payment_amount)'].head())

           MEAN(payments.payment_amount)
client_id
25707                        1178.552795
26326                        1166.736842
26695                        1207.433824
26945                        1109.473214
29841                        1439.433333

In [24]:
features.head()

           income  credit_score  join_month  log_income  MEAN(loans.loan_amount)  MEAN(loans.rate)  MAX(loans.loan_amount)  MAX(loans.rate) LAST(loans.loan_type)  LAST(loans.loan_amount)  LAST(loans.rate)  LAST(loans.repaid)  MEAN(payments.payment_amount)  MAX(payments.payment_amount)  LAST(payments.payment_amount)  LAST(payments.missed)  MONTH(joined)  credit_score / join_month  log_income / join_month  log_income / income  income / log_income  credit_score / income  join_month / log_income  join_month / income  credit_score / log_income  income / join_month  join_month / credit_score  log_income / credit_score  income / credit_score  MEAN(loans.MEAN(payments.payment_amount))  MEAN(loans.MAX(payments.payment_amount))  MEAN(loans.LAST(payments.payment_amount))  MEAN(loans.rate / loan_amount)  MEAN(loans.loan_amount / rate)  MAX(loans.MEAN(payments.payment_amount))  MAX(loans.LAST(payments.payment_amount))  MAX(loans.rate / loan_amount)  MAX(loans.loan_amount / rate)  LAST(loans.MEAN(payments.payment_amount))  LAST(loans.MAX(payments.payment_amount))  LAST(loans.MONTH(loan_start))  LAST(loans.MONTH(loan_end))  LAST(loans.rate / loan_amount)  LAST(loans.loan_amount / rate)  MONTH(LAST(loans.loan_start))  MONTH(LAST(loans.loan_end))  MONTH(LAST(payments.payment_date))  log_income / MAX(loans.rate)  join_month / LAST(payments.payment_amount)  MEAN(payments.payment_amount) / log_income  income / LAST(payments.payment_amount)  log_income / LAST(payments.payment_amount)  MEAN(loans.rate) / credit_score  join_month / MAX(loans.loan_amount)  income / MEAN(payments.payment_amount)  join_month / MAX(payments.payment_amount)  MEAN(loans.loan_amount) / MEAN(loans.rate)  MAX(payments.payment_amount) / LAST(payments.payment_amount)  LAST(loans.loan_amount) / MEAN(loans.loan_amount)  log_income / MEAN(loans.rate)  income / LAST(loans.rate)  MEAN(payments.payment_amount) / credit_score  MAX(payments.payment_amount) / income  join_month / LAST(loans.loan_amount)  LAST(loans.loan_amount) / log_income  MAX(loans.loan_amount) / credit_score  MEAN(loans.loan_amount) / MAX(loans.rate)  MAX(payments.payment_amount) / LAST(loans.loan_amount)  MAX(payments.payment_amount) / LAST(loans.rate)  MEAN(payments.payment_amount) / MEAN(loans.loan_amount)  LAST(payments.payment_amount) / MAX(payments.payment_amount)  log_income / LAST(loans.rate)  MAX(loans.rate) / log_income  LAST(loans.loan_amount) / MAX(payments.payment_amount)  MAX(payments.payment_amount) / MEAN(payments.payment_amount)  join_month / LAST(loans.rate)  LAST(loans.rate) / MEAN(loans.loan_amount)  credit_score / LAST(loans.loan_amount)  MEAN(loans.rate) / MAX(loans.loan_amount)  MEAN(loans.rate) / MEAN(loans.loan_amount)                     ...
client_id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ...
25707      211422           621          10   12.261611              7963.950000          3.477000                   13913             9.44                  home                     2203              7.40                   0                    1178.552795                          2704                            241                      1             10                  62.100000                 1.226161             0.000058         17242.595026               0.002937                 0.815553             0.000047                  50.645872         21142.200000                   0.016103                   0.019745             340.454106                                1175.760996                               1578.750000                                1195.550000                        0.000646                     5490.060050                               2155.142857                                      2402                       0.003359                   36509.090909                                 293.500000                                       368                              2                            8                        0.003359                      297.702703                              2                            8                                  11                      1.298900                                    0.041494                                   96.117285                              877.269710                                    0.050878                         0.005599                             0.000719                              179.391200                                   0.003698                                 2290.465919                                                     11.219917                                           0.276622                       3.526492               28570.540541                                      1.897831                               0.012790                              0.004539                            179.666434                              22.404187                                 843.638771                                                1.227417                                       365.405405                                                 0.147986                                                      0.089127                       1.656975                      0.769882                                                0.814719                                                      2.294339                       1.351351                                    0.000929                                0.281888                                   0.000250                                    0.000437                     ...
26326      227920           633           5   12.336750              7270.062500          2.517500                   13464             6.73                credit                     5275              1.45                   0                    1166.736842                          2658                            932                      1              5                 126.600000                 2.467350             0.000054         18474.882005               0.002777                 0.405293             0.000022                  51.310110         45584.000000                   0.007899                   0.019489             360.063191                                1161.691608                               1547.500000                                1155.375000                        0.000556                     5622.633622                               2143.888889                                      2483                       0.002144                   24268.627451                                 977.375000                                      1573                             11                            7                        0.000275                     3637.931034                             11                            7                                   8                      1.833098                                    0.005365                                   94.574085                              244.549356                                    0.013237                         0.003977                             0.000371                              195.348250                                   0.001881                                 2887.810328                                                      2.851931                                           0.725578                       4.900397              157186.206897                                      1.843186                               0.011662                              0.000948                            427.584251                              21.270142                                1080.247028                                                0.503886                                      1833.103448                                                 0.160485                                                      0.350640                       8.508103                      0.545525                                                1.984575                                                      2.278149                       3.448276                                    0.000199                                0.120000                                   0.000187                                    0.000346                     ...
26695      174532           680           8   12.069863              7824.722222          2.466111                   14865             6.51                 other                    13918              0.90                   1                    1207.433824                          2932                           2084                      0              8                  85.000000                 1.508733             0.000069         14460.147098               0.003896                 0.662808             0.000046                  56.338666         21816.500000                   0.011765                   0.017750             256.664706                                1221.200615                               1518.833333                                1276.222222                        0.000433                     5199.555018                               2511.800000                                      2271                       0.001595                   15927.272727                                1769.166667                                      2084                             10                           10                        0.000065                    15464.444444                             10                           10                                   3                      1.854050                                    0.003839                                  100.037075                               83.748560                                    0.005792                         0.003627                             0.000538                              144.547880                                   0.002729                                 3172.899302                                                      1.406910                                           1.778721                       4.894290              193924.444444                                      1.775638                               0.016799                              0.000575                           1153.119928                              21.860294                                1201.954258                                                0.210662                                      3257.777778                                                 0.154310                                                      0.710778                      13.410959                      0.539360                                                4.746930                                                      2.428290                       8.888889                                    0.000115                                0.048858                                   0.000166                                    0.000315                     ...
26945      214516           806          11   12.276140              7125.933333          2.855333                   14593             5.65                  cash                     9249              2.86                   1                    1109.473214                          2768                           1597                      1             11                  73.272727                 1.116013             0.000057         17474.222913               0.003757                 0.896047             0.000051                  65.655819         19501.454545                   0.013648                   0.015231             266.148883                                1115.150112                               1411.600000                                1237.400000                        0.000982                     6414.060680                               2272.857143                                      2530                       0.004518                   29186.000000                                1598.666667                                      1834                             12                            5                        0.000309                     3233.916084                             12                            5                                   7                      2.172768                                    0.006888                                   90.376393                              134.324358                                    0.007687                         0.003543                             0.000754                              193.349418                                   0.003974                                 2495.657250                                                      1.733250                                           1.297935                       4.299372               75005.594406                                      1.376518                               0.012903                              0.001189                            753.412742                              18.105459                                1261.227139                                                0.299276                                       967.832168                                                 0.155695                                                      0.576951                       4.292357                      0.460242                                                3.341402                                                      2.494878                       3.846154                                    0.000401                                0.087145                                   0.000196                                    0.000401                     ...
29841       38354           523           8   10.554614              9813.000000          3.445000                   14837             6.76                  home                     7223              5.09                   1                    1439.433333                          2898                            800                      1              8                  65.375000                 1.319327             0.000275          3633.860947               0.013636                 0.757962             0.000209                  49.551788          4794.250000                   0.015296                   0.020181              73.334608                                1455.233737                               1866.000000                                1416.833333                        0.000403                     6501.008754                               2383.777778                                      2742                       0.000856                   46365.625000                                1125.500000                                      1373                              6                            2                        0.000705                     1419.056974                              6                            2                                   1                      1.561333                                    0.010000                                  136.379532                               47.942500                                    0.013193                         0.006587                             0.000539                               26.645208                                   0.002761                                 2848.476052                                                      3.622500                                           0.736064                       3.063749                7535.166994                                      2.752263                               0.075559                              0.001108                            684.345247                              28.369025                                1451.627219                                                0.401218                                       569.351670                                                 0.146686                                                      0.276052                       2.073598                      0.640478                                                2.492409                                                      2.013292                       1.571709                                    0.000519                                0.072408                                   0.000232                                    0.000351                     ...

[5 rows x 191 columns]

Already we can see how useful feature tools is: it performed the same operations we did manually but also many more in addition. Examining the names of the features in the dataframe brings us to the final piece of the puzzle: deep features.

## Deep Feature Synthesis

While feature primitives are useful by themselves, the main benefit of using feature tools arises when we stack primitives to get deep features. The depth of a feature is simply the number of primitives required to make a feature. So, a feature that relies on a single aggregation would be a deep feature with a depth of 1, a feature that stacks two primitives would have a depth of 2 and so on. The idea itself is lot simpler than the name "deep feature synthesis" implies. (I think the authors were trying to ride the way of deep neural network hype when they named the method!) To read more about deep feature synthesis, check out [the documentation](https://docs.featuretools.com/automated_feature_engineering/afe.html) or the [original paper by Max Kanter et al](http://www.jmaxkanter.com/static/papers/DSAA_DSM_2015.pdf). 

Already in the dataframe we made by specifying the primitives manually we can see the idea of feature depth. For instance, the MEAN(loans.loan_amount) feature has a depth of 1 because it is made by applying a single aggregation primitive. This feature represents the average size of a client's previous loans.

In [25]:
# Show a feature with a depth of 1
pd.DataFrame(features['MEAN(loans.loan_amount)'].head(10))

           MEAN(loans.loan_amount)
client_id
25707                  7963.950000
26326                  7270.062500
26695                  7824.722222
26945                  7125.933333
29841                  9813.000000
32726                  6633.263158
32885                  9920.400000
32961                  7882.235294
35089                  6939.200000
35214                  7173.555556

As well scroll through the features, we see a number of features with a depth of 2. For example, the LAST(loans.(MEAN(payments.payment_amount))) has depth = 2 because it is made by stacking two feature primitives, first an aggregation and then a transformation. This feature represents the average payment amount for the last (most recent) loan for each client.

In [26]:
# Show a feature with a depth of 2
pd.DataFrame(features['LAST(loans.MEAN(payments.payment_amount))'].head(10))

           LAST(loans.MEAN(payments.payment_amount))
client_id
25707                                     293.500000
26326                                     977.375000
26695                                    1769.166667
26945                                    1598.666667
29841                                    1125.500000
32726                                     799.500000
32885                                    1729.000000
32961                                     282.600000
35089                                     110.400000
35214                                    1410.250000

We can create features of arbitrary depth by stacking more primitives. However, when I have used feature tools I've never gone beyond a depth of 2! After this point, the features become very convoluted to understand. I'd encourage anyone interested to experiment with increasing the depth (maybe for a real problem) and see if there is value to "going deeper".

## Automated Deep Feature Synthesis

In addition to manually specifying aggregation and transformation feature primitives, we can let feature tools automatically generate many new features. We do this by making the same `ft.dfs` function call, but without passing in any primitives. We just set the `max_depth` parameter and feature tools will automatically try many all combinations of feature primitives to the ordered depth. 

When running on large datasets, this process can take quite a while, but for our example data, it will be relatively quick. For this call, we only need to specify the `entityset`, the `target_entity` (which will again be `clients`), and the `max_depth`.

In [27]:
# Perform deep feature synthesis without specifying primitives
features, feature_names = ft.dfs(entityset=es, target_entity='clients', 
                                 max_depth = 2)

In [28]:
features.iloc[:, 4:].head()

           SUM(loans.loan_amount)  SUM(loans.rate)  STD(loans.loan_amount)  STD(loans.rate)  MAX(loans.loan_amount)  MAX(loans.rate)  SKEW(loans.loan_amount)  SKEW(loans.rate)  MIN(loans.loan_amount)  MIN(loans.rate)  MEAN(loans.loan_amount)  MEAN(loans.rate)  COUNT(loans)  NUM_UNIQUE(loans.loan_type)  NUM_UNIQUE(loans.repaid) MODE(loans.loan_type)  MODE(loans.repaid)  SUM(payments.payment_amount)  STD(payments.payment_amount)  MAX(payments.payment_amount)  SKEW(payments.payment_amount)  MIN(payments.payment_amount)  MEAN(payments.payment_amount)  COUNT(payments)  NUM_UNIQUE(payments.missed)  MODE(payments.missed)  DAY(joined)  YEAR(joined)  MONTH(joined)  WEEKDAY(joined)  SUM(loans.STD(payments.payment_amount))  SUM(loans.MAX(payments.payment_amount))  SUM(loans.SKEW(payments.payment_amount))  SUM(loans.MIN(payments.payment_amount))  SUM(loans.MEAN(payments.payment_amount))  SUM(loans.NUM_UNIQUE(payments.missed))  STD(loans.SUM(payments.payment_amount))  STD(loans.MAX(payments.payment_amount))  STD(loans.SKEW(payments.payment_amount))  STD(loans.MIN(payments.payment_amount))  STD(loans.MEAN(payments.payment_amount))  STD(loans.COUNT(payments))  STD(loans.NUM_UNIQUE(payments.missed))  MAX(loans.SUM(payments.payment_amount))  MAX(loans.STD(payments.payment_amount))  MAX(loans.SKEW(payments.payment_amount))  MAX(loans.MIN(payments.payment_amount))  MAX(loans.MEAN(payments.payment_amount))  MAX(loans.COUNT(payments))  MAX(loans.NUM_UNIQUE(payments.missed))  SKEW(loans.SUM(payments.payment_amount))  SKEW(loans.STD(payments.payment_amount))  SKEW(loans.MAX(payments.payment_amount))  SKEW(loans.MIN(payments.payment_amount))  SKEW(loans.MEAN(payments.payment_amount))  SKEW(loans.COUNT(payments))  SKEW(loans.NUM_UNIQUE(payments.missed))  MIN(loans.SUM(payments.payment_amount))  MIN(loans.STD(payments.payment_amount))  MIN(loans.MAX(payments.payment_amount))  MIN(loans.SKEW(payments.payment_amount))  MIN(loans.MEAN(payments.payment_amount))  MIN(loans.COUNT(payments))  MIN(loans.NUM_UNIQUE(payments.missed))  MEAN(loans.SUM(payments.payment_amount))  MEAN(loans.STD(payments.payment_amount))  MEAN(loans.MAX(payments.payment_amount))  MEAN(loans.SKEW(payments.payment_amount))  MEAN(loans.MIN(payments.payment_amount))  MEAN(loans.MEAN(payments.payment_amount))  MEAN(loans.COUNT(payments))  MEAN(loans.NUM_UNIQUE(payments.missed))  NUM_UNIQUE(loans.MODE(payments.missed))  NUM_UNIQUE(loans.DAY(loan_start))  NUM_UNIQUE(loans.DAY(loan_end))  NUM_UNIQUE(loans.YEAR(loan_start))  NUM_UNIQUE(loans.YEAR(loan_end))  NUM_UNIQUE(loans.MONTH(loan_start))  NUM_UNIQUE(loans.MONTH(loan_end))  NUM_UNIQUE(loans.WEEKDAY(loan_start))                  ...
client_id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ...
25707                      159279            69.54             4044.418728         2.421285                   13913             9.44                -0.172074          0.679118                    1212             0.33              7963.950000          3.477000            20                            4                         2                credit                   0                        189747                    647.576849                          2704                       0.214702                           124                    1178.552795              161                            2                      1            6          2006             10                4                              5254.422793                                    31575                                  1.817009                                    16301                              23515.219922                                      40                              5242.124009                               779.769317                                  0.485720                               440.012099                                589.297626                    2.499500                                     0.0                                    19246                               567.920002                                  1.098407                                     1690                               2155.142857                          15                                       2                                 -0.022527                                  0.121839                                 -0.376161                                  0.175976                                  -0.106591                     1.211143                                      0.0                                     1379                                42.819206                                      232                                 -0.723957                                172.375000                           5                                       2                               9487.350000                                262.721140                               1578.750000                                   0.090850                                815.050000                                1175.760996                     8.050000                                      2.0                                        2                                 15                               15                                  10                                10                                   10                                  9                                      7                  ...
26326                      116321            40.28             4254.149422         1.991819                   13464             6.73                 0.135246          1.067853                    1164             0.50              7270.062500          2.517500            16                            4                         2                 other                   0                        155176                    675.363115                          2658                       0.341985                           119                    1166.736842              133                            2                      1            6          2004              5                3                              4055.258508                                    24760                                 -0.103990                                    13272                              18587.065729                                      32                              5320.415033                               843.244775                                  0.581169                               510.846234                                612.007138                    2.492959                                     0.0                                    19295                               923.090685                                  1.072457                                     1780                               2143.888889                          16                                       2                                 -0.104933                                  1.922367                                 -0.163968                                  0.317128                                  -0.085996                     1.602660                                      0.0                                     1118                                26.150335                                      228                                 -0.853987                                185.500000                           5                                       2                               9698.500000                                253.453657                               1547.500000                                  -0.006499                                829.500000                                1161.691608                     8.312500                                      2.0                                        2                                 12                               14                                   9                                13                                   11                                  9                                      7                  ...
26695                      140845            44.39             4078.228493         1.517660                   14865             6.51                 0.154467          0.820060                    2389             0.22              7824.722222          2.466111            18                            4                         2                  home                   0                        164211                    634.871776                          2932                       0.403247                           259                    1207.433824              136                            2                      0           27          2004              8                4                              3476.776964                                    27339                                  0.158159                                    17008                              21981.611064                                      36                              5395.633917                               733.502878                                  0.609985                               567.854431                                634.967478                    3.040874                                     0.0                                    22686                               387.184605                                  1.009036                                     2271                               2511.800000                          17                                       2                                  0.657218                                  0.395978                                  0.084525                                  0.636248                                   0.367542                     2.061709                                      0.0                                     2215                                64.377078                                      470                                 -1.298087                                363.142857                           5                                       2                               9122.833333                                193.154276                               1518.833333                                   0.008787                                944.888889                                1221.200615                     7.555556                                      2.0                                        2                                 12                               13                                  12                                11                                    8                                 11                                      7                  ...
26945                      106889            42.83             4389.555657         1.564795                   14593             5.65                 0.156534         -0.001998                     653             0.13              7125.933333          2.855333            15                            4                         2                credit                   0                        124261                    766.023661                          2768                       0.415729                            69                    1109.473214              112                            2                      1           26          2000             11                6                              3076.764949                                    21174                                  0.546593                                    12313                              16727.251679                                      30                              6053.873498                               877.984723                                  0.537151                               530.375951                                702.199095                    2.093376                                     0.0                                    20181                               651.291207                                  1.158132                                     1637                               2272.857143                          13                                       2                                  0.698633                                  1.317972                                  0.079103                                  0.182191                                   0.094915                     0.940731                                      0.0                                      801                                16.914768                                      120                                 -0.527873                                100.125000                           5                                       2                               8284.066667                                205.117663                               1411.600000                                   0.036440                                820.866667                                1115.150112                     7.466667                                      2.0                                        2                                 11                               10                                  10                                 8                                    8                                  9                                      6                  ...
29841                      176634            62.01             4090.630609         2.063092                   14837             6.76                -0.212397          0.050600                    2778             0.26              9813.000000          3.445000            18                            4                         2                  home                   1                        215915                    706.772509                          2898                       0.273140                           288                    1439.433333              150                            2                      1           17          2002              8                5                              5295.625632                                    33588                                 -3.265224                                    18039                              26194.207265                                      36                              5426.154663                               777.060916                                  0.445310                               462.221838                                616.905560                    1.795055                                     0.0                                    21454                               700.018626                                  0.685484                                     1662                               2383.777778                          13                                       2                                  0.059703                                  0.882578                                 -0.170748                                  0.090108                                  -0.093076                     1.050139                                      0.0                                     3574                                76.031345                                      535                                 -0.841252                                397.111111                           6                                       2                              11995.277778                                294.201424                               1866.000000                                  -0.181401                               1002.166667                                1455.233737                     8.333333                                      2.0                                        2                                 15                               17                                  10                                10                                    9                                  9                                      6                  ...

[5 rows x 90 columns]

Deep feature synthesis has created 90 new features out of the existing data! While we could have created all of these manually, I am glad to not have to write all that code by hand. The primary benefit of feature tools is that it creates features without any subjective human biases. Even a human with considerable domain knowledge will be limited by their imagination when making new features (not to mention time). Automated feature engineering is not limited by these factors (instead it's limited by computation time) and provides a good starting point for feature creation. This process likely will not remove the human contribution to feature engineering completely because a human can still use domain knowledge and machine learning expertise to select the most important features or build new features from those suggested by automated deep feature synthesis.

# Next Steps

While automatic feature engineering solves one problem, it provides us with another problem: too many features! Although it's difficult to say which features will be important to a given machine learning task ahead of time, it's likely that not all of the features made by feature tools add value. In fact, having too many features is a significant issue in machine learning because it makes training a model much harder. The [irrelevant features can drown out the important features](https://pdfs.semanticscholar.org/a83b/ddb34618cc68f1014ca12eef7f537825d104.pdf), leaving a model unable to learn how to map the features to the target.

This problem is known as the ["curse of dimensionality"](https://en.wikipedia.org/wiki/Curse_of_dimensionality#Machine_learning) and is addressed through the process of [feature reduction and selection](http://scikit-learn.org/stable/modules/feature_selection.html), which means [removing low-value features](https://machinelearningmastery.com/feature-selection-machine-learning-python/) from the data. Defining which features are useful is an important problem where a data scientist can still add considerable value to the feature engineering task. Feature reduction will have to be another topic for another day!

# Conclusions

In this notebook, we saw how to apply automated feature engineering to an example dataset. This is a powerful method which allows us to overcome the human limits of time and imagination to create many new features from multiple tables of data. Feature tools is built on the idea of deep feature synthesis, which means stacking multiple simple feature primitives - __aggregations and transformations__ - to create new features. Feature engineering allows us to combine information across many tables into a single dataframe that we can then use for machine learning model training. Finally, the next step after creating all of these features is figuring out which ones are important. 

Feature tools is currently the only Python option for this process, but with the recent emphasis on automating aspects of the machine learning pipeline, other competitiors will probably enter the sphere. While the exact tools will change, the idea of automatically creating new features out of existing data will grow in importance. Staying up-to-date on methods such as automated feature engineering is crucial in the rapidly changing field of data science. Now go out there and find a problem on which to apply feature tools! 

For more information, check out the [documentation for feature tools](https://docs.featuretools.com/index.html). Also, read about how feature tools is [used in the real world by Feature Labs](https://www.featurelabs.com/), the company behind the open-source library.